.node-type-uw-ct-sp-home-page #background-wrap {
  /*background: #FDFBFC url(../images/landing-page-background.jpg) no-repeat center -100px;*/
  overflow: hidden;
}

#content {
  width: 100%;
}

#circle-navigation {
  text-align: center;
  background: #fafafa;
  padding: 0.5rem 0;
}

#circle-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#circle-navigation li {
  margin: 0 10px 40px;
  padding: 0;
  font-size: 14pt;
  line-height: 15pt;
  text-transform: uppercase;
  width: 230px;
}
@media (max-width: 480px) {
  #circle-navigation li {
    width: 100%;
  }
}
#circle-navigation li a {
  display: block;
  padding: 100px 0 0;
  background: no-repeat top center;
  text-decoration: none;
  color: #000000;
  /*font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;*/
}

#circle-navigation li a:hover,
#circle-navigation li a:focus {
  text-decoration: none;
  color: #000000;
}

#tabs-nav {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  background: #eeeeee;
  overflow: visible;
}

#tabs-nav li {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1.25rem;
  text-transform: uppercase;
  overflow: visible;
}

#tabs-nav li a {
  text-decoration: none;
  padding: 14px 15px;
  color: #757575;
  background: #eeeeee;
  display: inline-block;
  position: relative;
  letter-spacing: 0.075rem;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
}

@media (min-width: 600px) {
  #tabs-nav li.active a:after {
    content: ' ';
    width: 100%;
    height: 0;
    border-top: 15px solid #808080;
    position: absolute;
    top: -15px;
    left: 0;
  }
}

#tabs-nav li.active a,
#tabs-nav li a:hover,
#tabs-nav li a:focus {
  color: #ffffff;
  background-color: #808080;
}

#tabs > div {
  display: none;
  padding: 10px;
  min-height: 19px;
  background: url(../images/ajax-loader.gif) no-repeat center center;
}

#tabs > div.loaded {
  min-height: inherit;
  background: inherit;
}

#tabs > div.active {
  display: flex;
}

.uw-site--main-top,
.uw-site-admin--tabs,
.uw-site-main--content {
  width: 100%;
}

.node-type-uw-ct-sp-home-page h1 {
  font-size: 28pt;
  line-height: 32pt;
  margin-bottom: 8.5pt;
  color: #000000;
  text-align: center;
}

.node-type-uw-ct-sp-home-page #block-system-main {
  text-align: center;
  font-size: 16pt;
  line-height: 22pt;
  font-weight: 300;
  margin-top: 10px;
}

.node-type-uw-ct-sp-home-page #block-system-main .field-items {
  margin: 0 auto;
  max-width: 85%;
}

.field-name-field-centre-text {
  font-weight: 300;
  font-size: 14pt;
  line-height: 19pt;
}

.field-name-field-centre-text .field-items {
  padding-bottom: 0;
}

.field-name-field-centre-text h2 {
  border: none;
  font-weight: normal;
  font-size: 19pt;
  line-height: 26pt;
  margin: 30px 0;
  padding-bottom: 0;
  text-align: center;
}

.field-name-field-centre-text p {
  margin: 0.2em 0 0 0;
}

.node-type-uw-ct-theme-page #content h1 {
  font-size: 26pt;
  line-height: 31pt;
  margin-bottom: 8.5pt;
  color: #000000;
}

.node-type-uw-ct-theme-page .field-name-body {
  font-weight: 300;
  font-size: 1rem;
  line-height: 19pt;
  color: #000;
  overflow: auto;
}
.node-type-uw-ct-theme-page .field-name-body p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 19pt;
  color: #000;
  overflow: auto;
}
#tabs #tab-key {
  padding: 0;
}

#key-indicators {
  display: none;
}

#key-indicators.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 29px;
}

#key-indicators .field-items {
  padding-bottom: 0;
}

#key-indicators .field-item :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

#key-indicators > div {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 14px 29px 15px;
}
@media (max-width: 600px) {
  #key-indicators > div {
    margin: 0 14px 29px 0px;
  }
}

#tab-key .active-background {
  display: flex; /* Forces IE flexbox to wrap indicators at container */
}

#tab-key .field-name-field-linked-tableau,
.tabs-add div.tableauWrapper {
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto 0;
}

#key-indicators > div a {
  text-decoration: none;
  color: #252525;
}

#key-indicators > div a:hover,
#key-indicators > div a:focus {
  color: #252525;
}

#key-indicators .more {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 288px;
  padding: 80px 10px 10px 10px;
  background: #252525; /* fallback in case RGBA isn't supported */
  background: rgba(37,37,37,0.95);
  color: #ffe05a;
  font-size: 1.25rem;
  line-height: 18pt;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#key-indicators > div a:hover .more,
#key-indicators > div a:focus .more {
  display: block;
}
#key-indicators .more p {
  font-size: 1.45rem;
  letter-spacing: 0.075rem;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
}
#key-indicators .more span {
  font-family: Typ1451-Medium,verdana,sans-serif;
  color: #ffffff;
  font-size: 0.85rem;
  letter-spacing: 0;
  line-height: 1.5;
  display: block;
}

.field-name-field-key-indicator-text {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  padding: 25px;
  font-size: 16pt;
  line-height: 18pt;
  font-weight: 300;
  background: #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-name-field-key-indicator-text * {
  -ms-flex: 0 1 auto;
}

/* down arrow */
#key-indicators > div:nth-child(4n+1) .field-name-field-key-indicator-text:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(246, 246, 246, 0);
  border-top-color: #eeeeee;
  border-width: 12px;
  margin-left: -12px;
}

#key-indicators > div:nth-child(4n+1) a:hover .field-name-field-key-indicator-text:after {
  border-top-color: rgba(37, 37, 37, 0.9);
}

/* right arrow */
#key-indicators > div:nth-child(3) .field-name-field-key-indicator-text:after,
#key-indicators > div:nth-child(4) .field-name-field-key-indicator-text:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(246, 246, 246, 0);
  border-left-color: #eeeeee;
  border-width: 12px;
  margin-top: -12px;
}

#key-indicators > div:nth-child(3) a:hover .field-name-field-key-indicator-text:after,
#key-indicators > div:nth-child(4) a:hover .field-name-field-key-indicator-text:after {
  border-left-color: rgba(37, 37, 37, 0.9);
}

/* up arrow */
#key-indicators > div:nth-child(4n+2) .field-name-field-key-indicator-text:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(246, 246, 246, 0);
  border-bottom-color: #eeeeee;
  border-width: 12px;
  margin-left: -12px;
}

#key-indicators > div:nth-child(4n+2) a:hover .field-name-field-key-indicator-text:after {
  border-bottom-color: rgba(37, 37, 37, 0.9);
}

#key-indicators > div:nth-child(2n+1) .field-name-field-key-indicator-text {
  background: #eeeeee url(../images/spaceship.png) no-repeat center center;
}

@media (min-width: 660px) and (max-width: 977px) {
  #key-indicators > div:nth-child(2n+1) .field-name-field-key-indicator-text {
    background-image: none;
    background-color: #eeeeee;
  }
  #key-indicators > div:nth-child(4n+1) .field-name-field-key-indicator-text,
  #key-indicators > div:nth-child(4n+4) .field-name-field-key-indicator-text {
    background: #eeeeee url(../images/spaceship.png) no-repeat center center;
  }
}

.field-name-field-key-indicator-text strong,
.field-name-field-key-indicator-text b,
.field-name-field-key-indicator-text .small strong,
.field-name-field-key-indicator-text .small b {
  font-weight: bold;
}

.field-name-field-key-indicator-text .big {
  font-size: 50pt;
  line-height: 50pt;
  display: inline-block;
  /*font-weight: 600;*/
}

.field-name-field-key-indicator-text .small {
  font-size: 11pt;
  line-height: 13pt;
  font-weight: normal;
  display: inline-block;
}

.field-name-field-key-indicator-text p {
  margin-bottom: 0.2em;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  font-size: 1.25rem;
}

#tab-key .back {
  padding: 0 10px;
}

#tab-key .back a {
  color: #757575;
  text-decoration: none;
}

#tab-key .back a:hover,
#tab-key .back a:focus {
  color: #757575;
  text-decoration: underline;
}

#tab-key .tableau {
  display: none;
  min-height: 39px;
  background: url(../images/ajax-loader.gif) no-repeat center center;
}

#tab-key .tableau.active {
  display: block;
}

#tab-key .tableau.loaded {
  min-height: inherit;
  background: inherit;
  width: 100%;
}

#tab-all {
  overflow: auto;
  display: flex;
}

#tab-all-nav {
  width: 20%;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 12pt;
  line-height: 15pt;
  font-weight: 300;
  vertical-align: top;
}

#tab-all-nav .header {
  margin: 10px 0 3px 0;
  font-size: 13pt;
  line-height: 15pt;
}

#tab-all-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#tab-all-nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eeeeee;
}

#tab-all-nav li .header {
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}

#tab-all-nav ul ul li:last-child {
  border-bottom: none;
}

#tab-all-nav a {
  box-sizing: border-box;
  color: #000000;
  display: block;
  width: 100%;
  padding: 12px 10px;
  text-decoration: none;
  letter-spacing: 0.035rem;
  font-family: "BureauGrot Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  font-size: .85rem;
}

#tab-all #tab-all-nav a.active,
#tab-all #tab-all-nav a:hover,
#tab-all #tab-all-nav a:focus {
  color: #ffffff;
  background: #757575;
  text-decoration: none;
}

#tab-all-display {
  /* line-height: 14pt; font-size: 12pt;*/
  padding-left: 10px;
  width: 80%;
}

#tab-all-display .tableau {
  display: none;
  min-height: 19px;
  background: url(../images/ajax-loader.gif) no-repeat center center;
  width: 100%;
}

#tab-all-display .tableau.active {
  display: block;
}

#tab-all-display .tableau.loaded {
  min-height: inherit;
  background: inherit;
}

#tab-all-display h3 .field-items {
  padding-bottom: 0;
}
.tableauWrapper {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  #tab-all {
    flex-wrap: wrap;
  }
  #tab-all-nav {
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
  }
  #tab-all-nav a {
    display: none;
    position: relative;
  }
  #tab-all-nav a.active,
  #tab-all-nav ul:hover a,
  .js #tab-all-nav ul:hover a.active,
  .js #tab-all-nav ul.open a,
  .js #tab-all-nav ul.open:hover a {
    display: block;
  }
  .js #tab-all-nav ul:hover a {
    display: none;
  }
  #tab-all-nav ul a.active {
    padding-right: 2.5em;
  }
  .js #tab-all-nav ul.open a.active {
    padding-right: 0;
  }
  .js #tab-all-nav ul.closed li {
    border-bottom: none;
  }
  #tab-all-nav a.active:after {
    font-family: fdsu-rwd, sans-serif;
    font-size: 0.8em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    content: '\e906';
    color: #eee;
    padding: 1px 7px 3px;
    position: absolute;
    top: 9px;
    right: 7px;
  }
  #tab-all-nav ul:hover a.active:after {
    content: '';
    padding: 0;
  }
  .js #tab-all-nav ul:hover a.active:after {
    content: '\e906';
    padding: 3px 7px;
    background: #4e4e4e;
    color: #ffffff;
  }
  .js #tab-all-nav ul.open a.active:after {
    content: '';
    padding: 0;
  }
  #tab-all-display {
    padding: 0;
    width: 100%;
  }
  .tableauWrapper iframe {
    display: block;
    margin: 0 auto;
  }
}
#strategic-plan-link {
  text-align: center;
  font-weight: 300;
  font-size: 17pt;
  text-transform: uppercase;
  margin: 20px 0;
}

#strategic-plan-link a {
  color: #757575;
  background: #fce082;
  text-decoration: none;
  padding: 5px 150px;
}

body.org_default #strategic-plan-link a:hover,
body.org_default #strategic-plan-link a:focus {
  background-color: #757575;
  color: #ffffff;
  text-decoration: none;
}

#uw-footer {
  margin-top: 0;
}
.breadcrumb {
  margin-top: 0.5rem;
  padding: 0;
  text-decoration: none;
  font-size: .79012rem;
  font-family: Typ1451-Medium,verdana,sans-serif;
}
.front .breadcrumb {
  text-align: center;
}
.footer-3 #cas_login a {
  font-weight: 300;
}

#circle-navigation li a span {
  font-size: 0.85rem;
  padding: .2rem .25rem;
  font-family: Typ1451-Medium,verdana,sans-serif;
  background-color: #fdd54f;
  line-height: 2.2;
}

.color-tag {
  font-size: 0.85rem;
  padding: .2rem .25rem;
  line-height: 2.2;
  font-family: Typ1451-Medium,verdana,sans-serif;
}
.org-wrap.color-tag {
  background-color: #fdd54f;
}
.ahs-wrap.color-tag {
  background-color: #0098a5;
}
.eng-wrap.color-tag {
  background-color: #57058b;
}
.art-wrap.color-tag {
  background-color: #e78100;
}
.env-wrap.color-tag {
  background-color: #b4be00;
}
.sci-wrap.color-tag {
  background-color: #0073ce;
}
.math-wrap.color-tag {
  background-color: #df2498;
}
